.columns {
    background-color: rgb(255, 255, 255);
}
.widget {
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
