.columns {
    background-color: rgb(255, 255, 255);
}

.widget {
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.timer {
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 39, 67);
    margin: 5px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: azure;
}

.footer {
    color: aliceblue;
}

.left-col {
    background-color: red;
}
