<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<!-- <menu> -->
	<!--
	<add id="Egits_Integration::top_brands" title="Top Brands" module="Egits_Integration" sortOrder="10" parent="Magento_Catalog::catalog" resource="Egits_Integration::top_brands_resource" />
	<add id="Egits_Integration::sub_menu_item" title="Sub Menu Item" module="Egits_Integration" sortOrder="10" action="yourmodule/controller/action" />
	-->
	<!-- </menu> -->
	<menu>
		<add id="Egits_Integration::top_brands" title="Top Brands" module="Egits_Integration" sortOrder="10" resource="Egits_Integration::top_brands" parent="Magento_Catalog::inventory" />
		<!-- <add id="Egits_Integration::manage" title="Manage Module" module="Egits_Integration" sortOrder="10" parent="Egits_Integration::top_brands" action="module/index/index" resource="Egits_Integration::manage" /> -->
	</menu>
</config>
