.header.content {
    background-color: rgb(159, 164, 168);
    color: azure;
}

.page-header {
    background-color: rgb(159, 164, 168);
    color: azure;
}

.section-item-content {
    background-color: rgb(145, 214, 195)
}

.navigation {
    background-color: rgb(145, 214, 195)
}

.page-footer {
    background-color: rgb(159, 164, 168);
    color: azure;
}

.columns {
    background-color: rgb(196, 231, 255)
}

.footer.content {
    color: white;
}
